{% extends "pet/base.html" %}
{% load static %}
{% block title %}Pets{% endblock %}
{% block content %}
    <style>
        img {
            height: 400px;
            object-fit: cover;
        }
    </style>
    <div class="container">
        <div>
            <h2>{{ post.name }}</h2>
            <h2>{{ post.owner.get_full_name }}</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ post.pet_image }}" alt="image">
            </div>
            <div  class="col-md-6">
                <br>
                <p>Birthdate: {{ post.birthdate }}</p>
                <p>Gender: {{ post.gender }}</p>
                <p>Sprayed or Neutered: {{ post.spayed_or_neutered }}</p>
                <p>Species: {{ post.species }}</p>
                <p>Breed: {{ post.breed }}</p>
                {% if post.owner == user %}
                    <a href="{% url 'pet:pet_edit' pk=post.pk %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'pet:pet_delete' pk=post.pk %}"
                       onclick="return confirm('Are you sure you want to delete?')"
                       class="btn btn-danger">Delete</a>
                {%endif%}
            </div>
        </div>
        <div>
            <br>
            <p class="h4">Care Notes</p>
            <p>{{ post.care_notes }}</p>
        </div>
        <div>
            <br>
            <p class="h4">Food Notes</p>
            <p>{{ post.food_notes }}</p>
        </div>

    </div>
{% endblock %}
